<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%# clickable link to lead back to 'home page' %>
  <%= link_to 'Friends App', root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%# link to the 'about' section %>
        <%= link_to 'About', home_about_path, class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%# link to the 'friends list' section %>
        <%= link_to 'Friends', friends_path, class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%# link to the 'add new friend' section %>
        <%= link_to 'Add friend', new_friend_path, class:"nav-link" %>
      </li>

      <%# Add sigb in, sign up, log out options %>

      <li class="nav-item">
        <%# avatar %>
        <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/raimundasra" />
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br/>
